body{
    
    background-color: rgb(253, 252, 252);
    
}

h1{
    color: black;    
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma, sans-serif;
    font-size: large;
    font-display: fallback;
}

h2{
    color: black;
        font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma, sans-serif;
    font-size: large;
    font-display: fallback;
    border-bottom: 3px solid rgb(156, 16, 16);
    border-radius: 5px;
}



p{
color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: large;
font-style: oblique;
font-display: block;
}

ul{
  color: rgb(58, 56, 56);


}

audio{

    border: 3px solid black;
}

#p1{

     color: black;
        font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma, sans-serif;
    font-size: large;
    font-display: fallback;
    border-bottom: 3px solid rgb(156, 16, 16);
    border-radius: 5px;
}
